<h2>Design your net</h2>

<% if @neural_net.save %>
  <h4><%= @neural_net.name %></h4>
<% end %>

<% if !@neural_net.name || !@neural_net.save %>
  <%= form_for @neural_net do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <%= f.submit "Update Name", :class => ["button", "small"] %>
  <% end %>
<% end %>

<%= render 'net_with_node_buttons' %>
