<h2>Design your net</h2>

<%= form_for @neural_net do |f| %>
  <%= f.label :name, "Name:", required: true %>
  <%= f.text_field :name %>

  <%= f.submit "Save Net", :class => ["button", "small"] %>
<% end %>

<%= render 'net_view_with_node_buttons' %>
