<h2><%= @neural_net.name %></h2>
<p><%= @neural_net.description %></p>


<div class="columns medium-3 panel small-net input-selection">
  <%= render 'run_x_times' %>
  <hr />
  <%= render 'select_input' %>
</div>

<div class="columns medium-9">
  <!-- Display Selected Input -->
  <% if @preset_input %>
    <div class="row input layer">
      <div class="columns small-8 small-offset-2">
        <h4>Selected Input:</h4>
      </div>
      <% num_nodes = @preset_input.values.length %>
      <% @preset_input.values.values.each do |input| %>
        <div class="columns text-center small-<%= 12/num_nodes %>">
          <div class="node <%= input.to_i >= 1 ? 'active' : 'inactive' %>">
          </div>
        </div>
      <% end %>
    </div>
    <hr />
  <% end %>
  <!-- Show the Net -->
  <div id="container" class="columns small-12">
    <!-- SIGMA STUFF -->
      <div id="graph-container"></div>
  </div>
  <!-- Show Output vs. Desired Output -->

  <% if @desired_output %>
    <!-- Backprop Button -->
    <div class="row text-center backprop">
      <%= form_for @neural_net do |f| %>
      <%= f.hidden_field :output, value: @desired_output.id %>
      <%= f.submit "Run Backpropagation", class: "button round"%>
      <% end %>
    </div>
  <% end %>

</div>
