<h1>Create Preset Input/Output Pairings</h1>


<div class="row">
  <div class="columns small-12">
    <a href="#" id="presets-joyride" class="right"><small>How does this work?</small></a>
  </div>
</div>

<div class="row">
  <!-- Start NN display -->
  <div class="columns small-3 small-net" id="net-view">
    <div class="panel">
      <h5>Here's what your neural net looks like:</h5>
      <%= render 'neural_nets/net_view' %>
    </div>
  </div>

  <!-- Start Input/Output Creation -->
  <div class="columns small-6">
    <h3>Add an Input/Output pairing:</h3>
    <%= form_for [@neural_net, setup_preset_input(@preset_input)] do |f| %>
      <%= f.label :name, "Input Name:", id: "input-choice" %>
      <%= f.text_field :name %>
      <!-- Form for INPUT creation -->
      <%= f.label "Input Activations:" %>
      <% if @neural_net.first_layer_size > 0 %>
        <% @neural_net.first_layer_size.times do |i| %>
          <div class="columns text-center small-<%= 12/@neural_net.first_layer_size %>">
            <%= f.check_box :values,
                  { name: "preset_input[values][#{i}]",
                    id: "preset_input_[values][#{i}]",
                    class: "node-checkbox"},
                  1, 0 %>
            <%= f.label "[values][#{i}]", "." %>
          </div>
        <% end %>
      <% end %>
      <hr />
      <!-- Form for OUTPUT creation -->
      <%= f.fields_for :desired_output do |ff| %>
        <%= ff.label :name, "Desired Output Name:", id: "output-choice" %>
        <%= ff.text_field :name %>
        <%= ff.label "Desired Output Activations:" %>
        <% @neural_net.last_layer_nodes.length.times do |i| %>
          <div class="columns text-center small-<%= 12/@neural_net.last_layer_nodes.length %>">
            <%= ff.check_box :values,
                  { name: "preset_input[desired_output_attributes][values][#{i}]",
                    id: "preset_input_[desired_output_attributes][values][#{i}]",
                    class: "node-checkbox" },
                1, 0 %>
            <%= f.label "[desired_output_attributes][values][#{i}]", "." %>
          </div>
        <% end %>
      <% end %>
      <div class="row text-center">
        <%= f.submit "Create", class: "button round small"%>
      </div>
    <% end %>
    <hr />

    <%= link_to "I'm done!", neural_net_path(@neural_net), class: "button round" %>
  </div>

  <div class="columns small-3">
    <div class="panel small-net" id="created-inputs">
      <h5>Created Pairs:</h5>
      <% @neural_net.preset_inputs.each do |input| %>
        <div class="panel">
          <!-- Display INPUT section -->
          <div class="row">
            <h6><%= input.name.empty? ? "Input:" : input.name %></h6>
            <% input.values.values.each do |val| %>
              <div class="columns text-center small-<%= 12/input.values.length %>">
                <div class="node <%= val.to_i >= 1 ? 'active' : '' %>"></div>
              </div>
            <% end %>
          </div>
          <!-- Display OUTPUT section -->
          <div class="row">
            <% output = input.desired_output %>
            <h6><%= output.name.empty? ? "Desired Output:" : output.name %></h6>
            <% output.values.values.each do |val| %>
              <div class="columns text-center small-<%= 12/input.desired_output.values.length %>">
                <div class="node <%= val.to_i >= 1 ? 'active' : '' %>"></div>
              </div>
            <% end %>
          </div>
          <div class="row delete">
          <small class="right">
            <%= link_to "Delete", neural_net_preset_input_path(@neural_net, input.id),
                  method: :delete %>
          </small>
          </div>
        </div>
      <% end %>
    </panel>
  </div>
</div>


<ol class="joyride-list" data-joyride>
  <li data-text="Next" data-options="prev_button: false">
    <h4>Creating Inputs</h4>
    <hr />
    <p>In order to train your net, you have to decide what sort of inputs to give it.</p>
    <p>An input consists of a pattern of activation - each input node will either
      be active or not, you decide.</p>
    <p>You inputs can represent anything you want - you give them a name, so each
      one is recognizable.</p>
    <p>For each input you create, choose an desired output that you want your net
      to eventually produce. Give this a name too, so you can easily recognize it later! </p>
  </li>
  <li data-id="input-choice" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tip_location: top;">
    <p>This is where you can choose which input nodes you want to activate. Click
      on a node to set its status to "active"!</p>
  </li>
  <li data-id="output-choice" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>This is where you can choose the output that you want, given the input.</p>
  </li>
  <li data-id="created-inputs" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p>Once you've finished your input/output pairing, you'll see it appear over here!</p>
  </li>
  <li data-id="net-view" data-button="End" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
  <p>If you forget what the structure of your net looks like, you can see it over here.</p>
  </li>
</ol>
