<h1>Create Preset Input/Output Pairings</h1>

<div class="row">
  <!-- Start NN display -->
  <div class="columns small-3 small-net">
    <div class="panel">
      <h5>Here's what your neural net looks like:</h5>
      <%= render 'neural_nets/net_view' %>
    </div>
  </div>

  <!-- Start Input/Output Creation -->
  <div class="columns small-6">
    <h3>Add an Input/Output pairing:</h3>
    <%= form_for [@neural_net, setup_preset_input(@preset_input)] do |f| %>
      <%= f.label :name, "Input Name:" %>
      <%= f.text_field :name %>
      <!-- Form for INPUT creation -->
      <%= f.label "Input Activations:" %>
      <% if @neural_net.first_layer_size > 0 %>
        <% @neural_net.first_layer_size.times do |i| %>
          <div class="columns text-center small-<%= 12/@neural_net.first_layer_size %>">
            <%= f.check_box :values,
                  { name: "preset_input[values][#{i}]",
                    id: "preset_input_[values][#{i}]",
                    class: "node-checkbox"},
                  1, 0 %>
            <%= f.label "[values][#{i}]", "." %>
          </div>
        <% end %>
      <% end %>
      <hr />
      <!-- Form for OUTPUT creation -->
      <%= f.fields_for :desired_output do |ff| %>
        <%= ff.label :name, "Desired Output Name:" %>
        <%= ff.text_field :name %>
        <%= ff.label "Desired Output Activations:" %>
        <% @neural_net.last_layer_nodes.length.times do |i| %>
          <div class="columns text-center small-<%= 12/@neural_net.last_layer_nodes.length %>">
            <%= ff.check_box :values,
                  { name: "preset_input[desired_output_attributes][values][#{i}]",
                    id: "preset_input_[desired_output_attributes][values][#{i}]",
                    class: "node-checkbox" },
                1, 0 %>
            <%= f.label "[desired_output_attributes][values][#{i}]", "." %>
          </div>
        <% end %>
      <% end %>

      <%= f.submit "Create", class: "button round small"%>
    <% end %>
    <hr />
    <%= link_to "Run Net", neural_net_path(@neural_net), class: "button round" %>
  </div>

  <div class="columns small-3">
    <div class="panel small-net">
      <% @neural_net.preset_inputs.each do |input| %>
        <div class="panel">
          <!-- Display INPUT section -->
          <div class="row">
            <h6><%= input.name %></h6>
            <% input.values.values.each do |val| %>
              <div class="columns text-center small-<%= 12/input.values.length %>">
                <div class="node <%= val.to_i >= 1 ? 'active' : '' %>"></div>
              </div>
            <% end %>
          </div>
          <!-- Display OUTPUT section -->
          <div class="row">
            <h6><%= input.desired_output.name %></h6>
            <% input.desired_output.values.values.each do |val| %>
              <div class="columns text-center small-<%= 12/input.desired_output.values.length %>">
                <div class="node <%= val.to_i >= 1 ? 'active' : '' %>"></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </panel>
  </div>

</div>
