<div id="index-buttons">
  <div class="row text-center">
    <a href="/learn">
      <div class="columns medium-3 medium-offset-half panel small-12 option">
        <h4>Learn</h4>
      </div>
    </a>
    <a href="<%= neural_nets_path %>">
      <div class="columns medium-3 medium-offset-1 panel small-12 option">
        <h4>Explore</h4>
      </div>
    </a>

      <%= form_for NeuralNet.new do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit "Build" %>
      <% end %>
  </div>
</div>
